# You should ignore things like .DS_Store on your Mac, and your editor's temp files, in your ~/.gitignore
# Let's not collect a master list of every kind of cruft in the world in this file.

# Cargo build artifacts
/target/

# rustfmt backups
**/*.rs.bk

# cargo-mutants output
**/mutants.out*/

# Code coverage reports
/lcov.info
/cov/
*.profraw

# Windows (MSVC)
*.pdb
